<div *ngIf="showSplashBg" class="splash-bg center {{splashFadeOut ? 'animated slideOutLeft':''}}" >
  <div *ngIf="showSplash" class="splash center " style="flex-direction: column;">

    <div class="splash-title animated bounceInUp duration-1100ms" >Spin It!</div>

    <div class="animated bounceInUp delay-100ms duration-1100ms" style="background-image: url('../assets/imgs/logo.png');width: 250px;height: 250px;margin-top: 100px;background-size: contain;background-repeat: no-repeat;" ></div>

   <!-- <div class="animated fadeIn slow" style="margin-top: 20px;font-size:20px" >Loading...</div>-->

    <div class="spinner animated bounceInUp delay-200ms duration-1100ms">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>

  </div>
</div>
<ion-nav [root]="rootPage"></ion-nav>
