@font-face {
    font-family: 'HappyMonkey';
    src: url('fonts/HappyMonkey.eot');
    src: url('fonts/HappyMonkey.eot') format('embedded-opentype'),
         url('fonts/HappyMonkey.woff2') format('woff2'),
         url('fonts/HappyMonkey.woff') format('woff'),
         url('fonts/HappyMonkey.ttf') format('truetype'),
         url('fonts/HappyMonkey.svg#HappyMonkey') format('svg');
}
